.flex-container {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* background-color: rgb(208, 230, 201); */
    background-color: lightskyblue
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1; */
    margin: 10px;
    /* width: 100px; */
    /* margin: 10px; */
  }